<div>
    <h2>
        <span jhiTranslate="gateApp.info.home.title">Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-info" [routerLink]="['/', { outlets: { popup: ['info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.info.home.createLabel">
            Create new Info
            </span>
        </button>
        <button class="btn btn-primary float-right parse-info" (click)="parse()">
            <span class="hidden-sm-down"  jhiTranslate="gateApp.info.home.parse">
            parse info
            </span>
        </button> 
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.info.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="infos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th rowspan="2" jhiSortBy="id" style="min-width:4em"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th rowspan="2" jhiSortBy="date" style="width:9em"><span jhiTranslate="gateApp.info.date">Date</span> <span class="fa fa-sort"></span></th>
            <th rowspan="2" jhiSortBy="title"><span jhiTranslate="gateApp.info.title">Title</span> <span class="fa fa-sort"></span></th>
            <th rowspan="2" jhiSortBy="stock"><span jhiTranslate="gateApp.info.stock">Stock</span> <span class="fa fa-sort"></span></th>
            <th colspan="5" class="row1"><span jhiTranslate="gateApp.info.increase">Increase</span></th>
            <th rowspan="2" jhiSortBy="sourceTitle"><span jhiTranslate="gateApp.info.source">Source</span> <span class="fa fa-sort"></span></th>
            <th rowspan="2"></th>
            </tr>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th class="row2" jhiSortBy="increaseDays" style="min-width:5em"><span jhiTranslate="gateApp.info.increase_days">Days</span> <span class="fa fa-sort"></span></th>
            <th class="row2" jhiSortBy="increaseTotal"><span jhiTranslate="gateApp.info.increase_total">Total</span> <span class="fa fa-sort"></span></th>
            <th class="row2" jhiSortBy="increasedDay5"><span jhiTranslate="gateApp.info.increasedDay5">5th Day</span> <span class="fa fa-sort"></span></th>
            <th class="row2" jhiSortBy="increasedDay10"><span jhiTranslate="gateApp.info.increasedDay10">10th Day</span> <span class="fa fa-sort"></span></th>
            <th class="row2" jhiSortBy="increasedDay30"><span jhiTranslate="gateApp.info.increasedDay30">30th Day</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let info of infos ;trackBy: trackId">
                <td><a [routerLink]="['../info', info.id ]">{{info.id}}</a></td>
                <td>{{info.date | date:'medium'}}</td>
                <td>{{info.title}}</td>
                <td><a target="_blank" href="http://q.stock.sohu.com/cn/{{info.stock}}/index.shtml">{{info.stock}}</a></td>
                <td>{{info.increaseDays}}天</td>
                <td>{{info.increaseTotal}}</td>
                <td>{{info.increasedDay5}}</td>
                <td>{{info.increasedDay10}}</td>
                <td>{{info.increasedDay30}}</td>
                <td>
                    <div *ngIf="info.sourceId">
                        <a [routerLink]="['../source', info.sourceId  ]" >{{info.sourceTitle}}</a>
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../info', info.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'info/'+ info.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'info/'+ info.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="infos && infos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
