<div>
    <h2>
        <span jhiTranslate="gateApp.tracert.home.title">Tracerts</span>
        <button class="btn btn-primary float-right jh-create-entity create-tracert" [routerLink]="['/', { outlets: { popup: ['tracert-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.tracert.home.createLabel">
            Create new Tracert
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.tracert.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tracerts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gateApp.tracert.days">Days</span></th>
            <th><span jhiTranslate="gateApp.tracert.increase_day">Increase Day</span></th>
            <th><span jhiTranslate="gateApp.tracert.increase_total">Increase Total</span></th>
            <th><span jhiTranslate="gateApp.tracert.amplitude_day">Amplitude Day</span></th>
            <th><span jhiTranslate="gateApp.tracert.highest">Highest</span></th>
            <th><span jhiTranslate="gateApp.tracert.lowest">Lowest</span></th>
            <th><span jhiTranslate="gateApp.tracert.date">Date</span></th>
            <th><span jhiTranslate="gateApp.tracert.info">Info</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tracert of tracerts ;trackBy: trackId">
                <td><a [routerLink]="['../tracert', tracert.id ]">{{tracert.id}}</a></td>
                <td>{{tracert.days}}</td>
                <td>{{tracert.increase_day}}</td>
                <td>{{tracert.increase_total}}</td>
                <td>{{tracert.amplitude_day}}</td>
                <td>{{tracert.highest}}</td>
                <td>{{tracert.lowest}}</td>
                <td>{{tracert.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="tracert.infoId">
                        <a [routerLink]="['../info', tracert.infoId  ]" >{{tracert.infoTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tracert', tracert.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracert/'+ tracert.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracert/'+ tracert.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
