
<div *ngIf="source">
    <h2><span jhiTranslate="gateApp.source.detail.title">Source</span> {{source.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.source.title">Title</span></dt>
        <dd>
            <span>{{source.title}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.source.desc">Desc</span></dt>
        <dd>
            <span>{{source.desc}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.source.media">Media</span></dt>
        <dd>
            <span>{{source.media}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.source.url">Url</span></dt>
        <dd>
            <span>{{source.url}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.source.created">Created</span></dt>
        <dd>
            <span>{{source.created | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'source/'+ source.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
