
<div *ngIf="judge">
    <h2><span jhiTranslate="gateApp.judge.detail.title">Judge</span> {{judge.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.judge.score">Score</span></dt>
        <dd>
            <span>{{judge.score}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.increase_total">Increase Total</span></dt>
        <dd>
            <span>{{judge.increase_total}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.increase_days">Increase Days</span></dt>
        <dd>
            <span>{{judge.increase_days}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.day5">Day 5</span></dt>
        <dd>
            <span>{{judge.day5}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.day10">Day 10</span></dt>
        <dd>
            <span>{{judge.day10}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.day30">Day 30</span></dt>
        <dd>
            <span>{{judge.day30}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.judge.info">Info</span></dt>
        <dd>
            <div *ngIf="judge.infoId">
                <a [routerLink]="['/info', judge.infoId]">{{judge.infoTitle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'judge/'+ judge.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
