<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJudgeLabel" jhiTranslate="gateApp.judge.home.createOrEditLabel">Create or edit a Judge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!judge.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="judge.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.score" for="field_score">Score</label>
            <input type="number" class="form-control" name="score" id="field_score"
                [(ngModel)]="judge.score"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.increase_total" for="field_increase_total">Increase Total</label>
            <input type="number" class="form-control" name="increase_total" id="field_increase_total"
                [(ngModel)]="judge.increase_total"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.increase_days" for="field_increase_days">Increase Days</label>
            <input type="number" class="form-control" name="increase_days" id="field_increase_days"
                [(ngModel)]="judge.increase_days"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.day5" for="field_day5">Day 5</label>
            <input type="number" class="form-control" name="day5" id="field_day5"
                [(ngModel)]="judge.day5"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.day10" for="field_day10">Day 10</label>
            <input type="number" class="form-control" name="day10" id="field_day10"
                [(ngModel)]="judge.day10"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.day30" for="field_day30">Day 30</label>
            <input type="number" class="form-control" name="day30" id="field_day30"
                [(ngModel)]="judge.day30"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.judge.info" for="field_info">Info</label>
            <select class="form-control" id="field_info" name="info" [(ngModel)]="judge.infoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="infoOption.id" *ngFor="let infoOption of infos; trackBy: trackInfoById">{{infoOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
